body {
  margin: 0;
  font-family: "Courier New",Courier,monospace;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	cursor : pointer;
}