.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding:20px;
  border: 2px solid blue;
  margin: 10px;
  font-size:30px;
  cursor:pointer;
  background:green;
}

.disabled {
  cursor:not-allowed;
  pointer-events: none;
  color:#c0c0c0;
  background-color: #FFFFFF;
  border:2px solid grey;
}
